@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500&family=Roboto+Slab:wght@100;200;300;400&family=Roboto:wght@100;300;400;500&display=swap");
:root {
  --all-color: #0779e4;
  --bg-color:#f8f8f8;
  --color:#999;
}
[data-theme='dark'] {
  background-color:#CDDEFF;
  --all-color: #0779e4;
  color: rgb(0, 0, 0);
  --btn-color:#0779e4;
  --text-color:#fff;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg-color);
  color: var(--color);
}

.p {
  padding: 5em 0;
}
.header-bg {
  background-image: url(./img/cc.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-attachment: fixed;
}

.bg-rgb {
  height: 100vh;
  background: rgba(0, 83, 161, 0.3803921568627451);
}
.about-left-img {
  background-image: url(./img/aaa.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% center;
  height: 100vh;
  width: 100%;
}

.about-com-wape {
  display: none;
}

@media (max-width: 658px) {
  .about-com-wape {
    display: block;
  }
}
